<div class="navbar-piano">

  <!-- left navigation menu -->
  <%= link_to "Music sheets", sheets_path, class:"music-sheet" %>

  <!-- center logo -->
  <div class="logo">
    <%= link_to root_path, class: "" do %>
    <p><%= image_tag ("logo.png") %></p>
    <% end %>
  </div>

  <!-- right navigation menu -->
  <div class="menu">
    <ul>
      <li id="nav-recordings"><a>Musique</a></li>
      <li id="nav-bio"><a>Biographie</a></li>
      <li id="nav-events"><a>Evénements</a></li>
      <li id="nav-contact"><a><%= link_to "Contact", new_contact_path%></a></li>
    </ul>
  </div>

  <!-- dropdown navigation menu (hidden on desktop)-->
  <div class="nav navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li id="nav-recordings"><a>Enregistrements</a></li>
        <li id="nav-bio"><a>Biographie</a></li>
        <li id="nav-events"><a>Evenements</a></li>
        <li id="nav-contact"><a><%= link_to "contact", contacts_path%></a></li>
      </ul>
    </div>
  </div>
</div>
