
  <h1>Events</h1>
  <div class="events">
  <div class="event-type">
    <%= link_to root_path, class: "event-img" do %>
    <p><%= image_tag ("kouglofs2.jpg") %></p>
    <% end %>
  </div>
  <div class="event-type">
    <%= link_to root_path, class: "event-img" do %>
    <p><%= image_tag ("clavier.jpg") %></p>
    <% end %>
  </div>
  <div class="event-type">
    <%= link_to root_path, class: "event-img" do %>
    <p><%= image_tag ("piano2.jpg") %></p>
    <% end %>
  </div>
</div>
