<!DOCTYPE html>
<html>
  <head>
    <title>Edouard's Piano</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta property="og:title" content="Edouard's Piano">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="<%= image_path 'logo.png' %>">
    <meta property="og:description" content="Welcome to my website where you can look for piano sheets and contact me">
    <meta property="og:site_name" content="Edouard's Piano"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#92a6b2">
  </head>
  <body class="body">
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>

    <script>
    $(function(){
        $('audio,video').mediaelementplayer({
            loop: true,
            shuffle: true,
            playlist: true,
            audioHeight: 30,
            playlistposition: 'bottom',
            features: ['playlistfeature', 'prevtrack', 'playpause', 'nexttrack', 'loop', 'shuffle', 'playlist', 'current', 'progress', 'duration', 'volume'],
        });
    });
    </script>
  </body>
</html>
